[submodule "Lib/md5"]
	path = Lib/md5
	url = https://github.com/kikito/md5.lua.git

[submodule "classic"]
	path = classic
	url = https://github.com/rxi/classic.git

[submodule "Lib/g3d"]
	path = Lib/g3d
	url = https://github.com/jacokotze/g3d.git
[submodule "Lib/cpml"]
	path = Lib/cpml
	url = https://github.com/excessive/cpml.git
[submodule "Lib/MessagePack"]
	path = Lib/MessagePack
	url = https://github.com/kieselsteini/msgpack
[submodule "Lib/bitser"]
	path = Lib/bitser
	url = https://github.com/gvx/bitser.git
